@{
    ViewBag.Title = "Tuntikirjaus";
}

<div class="jumbotron">
    <h1>YRITYS X</h1>
    <p class="lead">Tervetuloa tarkastelemaan ja lisäämään työtunteja.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lisää uusi työntekijä</h2>
        <p>
           Lisää uuden työntekijän tiedot täällä.
        </p>
        <p><a class="btn btn-default" href="http://localhost:53834/Home/uusityontekija">Lisää työntekijä &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kirjaa työtuntisi</h2>
        <p>Kirjaa päivittäiset työtuntisi täällä.</p>
        <p><a class="btn btn-default" href="http://localhost:53834/Home/Tuntikirjaus/">Kirjaa tunnit &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tarkastele työtunteja</h2>
        <p>Tarkastele aiemmin kirjattuja tunteja täällä.</p>
        <p><a class="btn btn-default" href="http://localhost:53834/Home/Raportti">Tarkastele tunteja &raquo;</a></p>
        @Html.ActionLink("Uusi työntekijä", "UusiTyontekija");
    </div>
</div>