@{
    ViewBag.Title = "Tuntikirjaus";
}

<div class="jumbotron">
    <h1>YRITYS X</h1>
    <p class="lead">Tervetuloa tarkastelemaan ja lisäämään työtunteja.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lisää uusi työntekijä</h2>
        <p>
           Lisää uuden työntekijän tiedot täällä.
        </p>
        <p>
            @Html.ActionLink("Lisää uusi työntekijä >>", "uusiTyontekija", null, null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kirjaa työtuntisi</h2>
        <p>Kirjaa päivittäiset työtuntisi täällä.</p>
        <p>
            @Html.ActionLink("Kirjaa tuntisi >>", "Tuntikirjaus", null, null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tarkastele työtunteja</h2>
        <p>Tarkastele aiemmin kirjattuja tunteja täällä.</p>
        <p>
            @Html.ActionLink("Tarkastele tunteja >>", "Raportti", null, null, new { @class = "btn btn-default" })
        </p>
        
    </div>
</div>